.bg-maintenance-image {
  background-image: url(../../../app-assets/images/backgrounds/bg-2.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
